USE_EXTERNAL_NETWORK=true
DOCKER_NETWORK_NAME=nginx
NODE_ENV=production
API_BASE_URL=http://walkscape-tools-server:3000
BACKEND_PORT=3001
DATABASE_URL="postgresql://ws-gear:wsgear-db-password@walkscape-gear-postgres:5432/ws-gear-db"
