# Create a copy of this file, call it .env, and 

# required for building the dockerfile
# Create Github Personal Access token with repo priviledges:
# https://github.com/settings/tokens
NODE_ENV=development
API_BASE_URL=http://localhost:3000
PORT=3001